:root {
	--bg: 255, 255, 255;
	--bg-secondary: 238, 238, 238;;
	--font-color: 66, 66, 66;
	--border-style: 1px solid rgb(var(--bg));
}

body.dark {
	--bg: 33, 37, 41;
	--bg-secondary: 66, 66, 66;
	--font-color: 238, 238, 238;
	--border-style: 1px solid rgb(var(--bg));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgb(var(--bg)) !important;
  color: rgb(var(--font-color));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
	color: rgb(var(--font-color)) !important;
	background-color: rgb(var(--bg-secondary)) !important;
	border: none !important;
	border-radius: 0 !important;
}

a {
	color: rgb(var(--font-color)) !important;
}

.list-group-item {
	background-color: rgb(var(--bg-secondary)) !important;
}

.border-bottom {
	border-bottom : var(--border-style) !important
}
.border-top {
	border-top : var(--border-style) !important
}
.border-end {
	border-right : var(--border-style) !important
}
.border-start {
	border-left : var(--border-style) !important
}
