:root {
	/* --bg-dark: 33, 37, 41;
	--bg-dark-secondary: 66, 66, 66;
	--font-color: #ffffff */

	--bg-dark: #ffffff;
	--bg-dark-secondary: #dddddd;
	--font-color: #000000
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: rgb(var(--bg-dark)) !important;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
	color: var(--font-color) !important;
	background-color: rgb(var(--bg-dark-secondary)) !important;
	border: none !important;
	border-radius: 0 !important;
}

a {
	color: var(--font-color) !important;
}

.list-group-item {
	background-color: rgb(var(--bg-dark-secondary)) !important;
}

.visible-border {
	border-color: rgb(var(--bg-dark)) !important;
}
